body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.board {
  display: grid;
  width: 400px;
  height: 400px;
  min-width: min-content;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  padding: 1rem;
  margin: auto;
}

.cell {
  background: rgb(255, 255, 197);
  border: solid black 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.reset {
  background: rgb(73, 99, 168);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.reset:hover {
  cursor: pointer;
  background: rgb(47, 71, 142);
}